
/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

main {
  text-align: center;
}

/* --------------------------------

Main Components

-------------------------------- */
.cart-container::before {
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.cart-container.cart-open::before {
  opacity: 1;
  visibility: visible;
}

.cart-trigger,
.cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}

.empty .cart-trigger, .empty
.cart {
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
}

@media only screen and (min-width: 1048px) {
  .cart-trigger,
  .cart {
    bottom: 40px;
  }
}

.cart-trigger {
  z-index: 3;
  height: 72px;
  width: 72px;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cart-trigger::after, .cart-trigger::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(../images/icons-cart-close.svg) no-repeat 0 0;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
}

.cart-trigger::after {
  background-position: -72px 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.cart-open .cart-trigger::before {
  opacity: 0;
}

.cart-open .cart-trigger::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cart-trigger .count {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background:#19699e;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  transition: -webkit-transform .2s .5s;
  transition: transform .2s .5s;
  transition: transform .2s .5s, -webkit-transform .2s .5s;
}

.cart-trigger .count li {
  position: absolute;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cart-trigger .count li:last-of-type {
  visibility: hidden;
}

.cart-trigger .count.update-count li:last-of-type {
  -webkit-animation: qty-enter .15s;
          animation: qty-enter .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.cart-trigger .count.update-count li:first-of-type {
  -webkit-animation: qty-leave .15s;
          animation: qty-leave .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.cart-open .cart-trigger .count {
  transition: -webkit-transform .2s 0s;
  transition: transform .2s 0s;
  transition: transform .2s 0s, -webkit-transform .2s 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.empty .cart-trigger .count {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.cart-trigger:hover + div .wrapper {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}

.cart-open .cart-trigger:hover + div .wrapper {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cart {
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}

.cart .wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 6px;
  transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}

.cart header, .cart footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
}

.cart header, .cart .body {
  opacity: 0;
}

.cart header {
  top: 0;
  border-radius: 6px 6px 0 0;
  padding: 0 1.4em;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  transition: opacity .2s 0s;
  border-bottom: 1px solid #e6e6e6;
}

.cart header::after {
  clear: both;
  content: "";
  display: block;
}

.cart footer {
  bottom: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.cart h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em;
}

.cart .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;
  color: #808b97;
}

.cart .undo a {
  text-decoration: underline;
  color: #2b3e51;
}

.cart .undo a:hover {
  color: #9DC997;
}

.cart .undo.visible {
  opacity: 1;
  visibility: visible;
}

.cart .checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background:#19699e;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all .2s 0s;
}

.cart .checkout:hover {
  background:#ee6123;
}

.cart .checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}

.cart .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../images/icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  transition: opacity .2s;
}

.cart .body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
  padding: 20px 0 10px;
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity .2s;
}

.cart .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
}

.cart .body li {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
          transform: translateX(80px);
  transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}

.cart .body li::after {
  clear: both;
  content: "";
  display: block;
}

.cart .body li:not(:last-of-type) {
  margin-bottom: 20px;
}

.cart .body li.deleted {
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  -webkit-animation: item-slide-out .3s forwards;
          animation: item-slide-out .3s forwards;
}

.cart .body li.deleted.undo-deleted {
  -webkit-animation: item-slide-in .3s forwards;
          animation: item-slide-in .3s forwards;
}

.cart .body li.deleted + li {
  -webkit-animation: item-move-up-mobile .3s;
          animation: item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cart .body li.undo-deleted + li {
  -webkit-animation: item-move-down-mobile .3s;
          animation: item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cart .product-image {
  display: inline-block;
  float: left;
  width: 50px;
}

.cart .product-image img {
  display: block;
}

.cart .product-details {
  position: relative;
  display: inline-block;
  width: calc( 100% - 50px);
  padding: 0.3em 0 0 0.5em;
}

.cart .product-details::after {
  clear: both;
  content: "";
  display: block;
}

.cart h3, .cart .price {
  font-weight: bold;
}

.cart h3 {
  width: 70%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart h3 a {
  color: #2b3e51;
  font-size: 20px;
}

.cart h3 a:hover {
  color: #9DC997;
}

.cart .price {
  float: right;
  width: 30%;
  margin-right: -60px;
  text-align: right;
}

.cart .actions {
  font-size: 18px;
  height: 1.6em;
  line-height: 1.6em;
}

.cart .actions::after {
  clear: both;
  content: "";
  display: block;
}

.cart .delete-item, .cart .quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cart .delete-item {
  margin-right: 1em;
}

.cart .delete-item:hover {
  color: #e94b35;
}

.cart .quantity label {
  display: inline-block;
  margin-right: .3em;
}

.cart .select {
  position: relative;
}

.cart .select::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/icon-select.svg) no-repeat center center;
  pointer-events: none;
}

.cart select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  color: #808b97;
}

.cart select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor;
}

.cart select::-ms-expand {
  display: none;
}

.cart-open .cart .wrapper {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.cart-open .cart header,
.cart-open .cart .body {
  opacity: 1;
}

.cart-open .cart header {
  transition: opacity .2s .2s;
}

.cart-open .cart .body {
  transition: opacity 0s;
}

.cart-open .cart .body li {
  transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.cart-open .cart .body li:nth-of-type(2) {
  transition-duration: .4s;
}

.cart-open .cart .body li:nth-of-type(3) {
  transition-duration: .5s;
}

.cart-open .cart .body li:nth-of-type(4), .cart-open .cart .body li:nth-of-type(5) {
  transition-duration: .55s;
}

.cart-open .cart .checkout {
  color: #ffffff;
  transition: color .2s .3s;
}

.cart-open .cart .checkout em {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}

.cart-open .cart .checkout:hover em {
  padding-right: 30px;
}

.cart-open .cart .checkout:hover em::after {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cart .body li:not(:last-of-type) {
    margin-bottom: 14px;
  }
  .cart .body li.deleted + li {
    -webkit-animation: item-move-up .3s;
            animation: item-move-up .3s;
  }
  .cart .body li.undo-deleted + li {
    -webkit-animation: item-move-down .3s;
            animation: item-move-down .3s;
  }
  .cart .checkout {
    font-size: 25px;
  }
  .cart .product-image {
    width: 90px;
  }
  .cart .product-details {
    padding: 1.4em 0 0 1em;
    width: calc( 100% - 90px);
  }
  .cart h3, .cart .price {
    font-size: 20px;
  }
}

@-webkit-keyframes qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}

@keyframes qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}

@-webkit-keyframes item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}

@keyframes item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}

@-webkit-keyframes item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}

@keyframes item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}

@-webkit-keyframes item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}

@keyframes item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}

@-webkit-keyframes item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}

@keyframes item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}

@-webkit-keyframes item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}

@keyframes item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}

@-webkit-keyframes item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}

@keyframes item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}

.gallery {
  width: 90%;
  max-width: 1048px;
  margin: 0 auto;
}

.gallery::after {
  clear: both;
  content: "";
  display: block;
}

.gallery > li {
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
  background: #ffffff;
  border-radius: .25em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.gallery > li > a {
  display: block;
}

@media only screen and (min-width: 768px) {
  .gallery {
    margin: 0 auto;
  }
  .gallery > li {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 2.5em;
  }
  .gallery > li:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1048px) {
  .gallery {
    margin: 0 auto;
  }
  .no-touch .gallery > li:hover .dots li.selected a {
    /* Slider dots - change background-color of the selected dot when hover over the its parent list item */
    background: #2b3e51;
    border-color: #2b3e51;
  }
  .no-touch .gallery > li:hover .dots a {
    /* Slider dots - change dot border-color when hover over the its parent list item */
    border-color: #88a4c0;
  }
  .no-touch .gallery > li:hover li.move-right,
  .no-touch .gallery > li:hover li.move-left {
    /* show preview items when hover over the its parent list item */
    opacity: 0.3;
  }
}

.item-wrapper {
  position: relative;
  overflow: hidden;
  margin: 3em 0;
}

.item-wrapper li {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  opacity: 0;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform, opacity;
  -webkit-transform: translateX(200%) scale(0.7);
      -ms-transform: translateX(200%) scale(0.7);
          transform: translateX(200%) scale(0.7);
  transition: opacity .4s, -webkit-transform .4s;
  transition: transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}

.item-wrapper li.selected {
  /* selected item */
  position: relative;
  opacity: 1;
  -webkit-transform: translateX(0) scale(1.3);
      -ms-transform: translateX(0) scale(1.3);
          transform: translateX(0) scale(1.3);
}

.item-wrapper li.selected.print {
  -webkit-transform: translateX(0) scale(1);
      -ms-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}

.item-wrapper li.selected.pin {
  -webkit-transform: translateX(0) scale(1);
      -ms-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}

.item-wrapper li.move-left {
  /* item on left - preview visible */
  -webkit-transform: translateX(-100%) scale(0.7);
      -ms-transform: translateX(-100%) scale(0.7);
          transform: translateX(-100%) scale(0.7);
  opacity: 0.3;
}

.item-wrapper li.move-left.print {
  -webkit-transform: translateX(-85%) scale(0.7);
      -ms-transform: translateX(-85%) scale(0.7);
          transform: translateX(-85%) scale(0.7);
}

.item-wrapper li.move-right {
  /* item on right - preview visible */
  -webkit-transform: translateX(100%) scale(0.7);
      -ms-transform: translateX(100%) scale(0.7);
          transform: translateX(100%) scale(0.7);
  opacity: 0.3;
}

.item-wrapper li.move-right.print {
  -webkit-transform: translateX(85%) scale(0.7);
      -ms-transform: translateX(85%) scale(0.7);
          transform: translateX(85%) scale(0.7);
}

.item-wrapper li.hide-left {
  /* items hidden on the left */
  -webkit-transform: translateX(-200%) scale(0.7);
      -ms-transform: translateX(-200%) scale(0.7);
          transform: translateX(-200%) scale(0.7);
}

.item-wrapper li img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1048px) {
  .item-wrapper li.move-left,
  .item-wrapper li.move-right {
    /* hide preview items */
    opacity: 0;
  }
  .item-wrapper li.focus-on-left {
    /* class added to the .selected and .move-right items when user hovers over the .move-left item (item preview on the left) */
    -webkit-transform: translateX(3%) scale(1.25);
        -ms-transform: translateX(3%) scale(1.25);
            transform: translateX(3%) scale(1.25);
  }
  .item-wrapper li.focus-on-left.move-right {
    -webkit-transform: translateX(103%) scale(0.7);
        -ms-transform: translateX(103%) scale(0.7);
            transform: translateX(103%) scale(0.7);
  }
  .item-wrapper li.focus-on-right {
    /* class added to the .selected and .move-left items when user hovers over the .move-right item (item preview on the right) */
    -webkit-transform: translateX(-3%) scale(1.25);
        -ms-transform: translateX(-3%) scale(1.25);
            transform: translateX(-3%) scale(1.25);
  }
  .item-wrapper li.focus-on-right.move-left {
    -webkit-transform: translateX(-103%) scale(0.7);
        -ms-transform: translateX(-103%) scale(0.7);
            transform: translateX(-103%) scale(0.7);
  }
  .item-wrapper li.hover {
    /* class added to the preview items (.move-left or .move-right) when user hovers over them */
    opacity: 1 !important;
  }
  .item-wrapper li.hover.move-left {
    -webkit-transform: translateX(-97%) scale(0.75);
        -ms-transform: translateX(-97%) scale(0.75);
            transform: translateX(-97%) scale(0.75);
  }
  .item-wrapper li.hover.move-right {
    -webkit-transform: translateX(97%) scale(0.75);
        -ms-transform: translateX(97%) scale(0.75);
            transform: translateX(97%) scale(0.75);
  }
}

.dots {
  /* not visible in the html document - created using jQuery */
  position: absolute;
  bottom: 140px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: .2em;
}

.dots::after {
  clear: both;
  content: "";
  display: block;
}

.dots li {
  display: inline-block;
  float: left;
  margin: 0 5px;
  pointer-events: none;
}

.dots li.selected a {
  background: #2b3e51;
  border-color: #2b3e51;
}

.dots a {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 1px solid #88a4c0;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  transition: border-color .2s, background-color .2s;
}

@media only screen and (min-width: 1048px) {
  .dots li {
    pointer-events: auto;
  }
  .dots li.selected a {
    background: #cccccc;
    border-color: #cccccc;
  }
  .dots a {
    height: 8px;
    width: 8px;
    border-color: #cccccc;
    /* fix a bug in IE9/10 - transparent anchor not clickable */
    background-color: rgba(255, 255, 255, 0);
  }
}

.item-info {
  height: 90px;
  line-height: 90px;
  padding: 0 2em;
}

.item-info::after {
  clear: both;
  content: "";
  display: block;
}

.item-info b, .item-info .price, .item-info .new-price {
  font-weight: bold;
  font-size: 2rem;
}

.item-info b {
  float: left;
}

.item-info b a {
  color: #2b3e51;
}

.item-info .price, .item-info .new-price {
  /* .new-price not visible in the html document - created using jQuery */
  float: right;
}

.item-info .price {
  color: #a5d05e;
  position: relative;
  margin-left: 10px;
  transition: color .2s;
}

.item-info .price::after {
  /* crossing line - visible if price is on sale */
  content: '';
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #a5d05e;
  opacity: 0;
  transition: width .2s 0s, opacity 0s .2s;
}

.item-info .price.on-sale::after {
  opacity: 1;
  width: 100%;
  transition: width .2s 0s, opacity 0s 0s;
}

.item-info .new-price {
  /* new price - visible if price is on sale */
  color: #e76363;
  opacity: 0;
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  transition: opacity .2s, -webkit-transform .2s;
  transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s, -webkit-transform .2s;
}

.item-info .new-price.is-visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .item-info b, .item-info .price, .item-info .new-price {
    font-size: 2.4rem;
  }
}

.item-interaction {
 
}
.item-interaction a.btn-add-to-cart {
      display: inline-block;
    bottom: -30px;
    left: 140px;
    border: 5px solid #fff;
    position: absolute;
    background: #2c97de;
    width: 55px;
    height: 55px;
    border-radius: 50em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: .1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.item-interaction a.btn-add-to-cart:hover {
  background:#ee6123;
}
.item-interaction a.btn-add-to-cart img.cart-agile {
    width: 30px;
    padding-top: 10px;
    margin-right: 2px;
}
.item-interaction a.btn-add-to-cart:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.no-js .move-right,
.no-js .move-left {
  display: none;
}
